<mat-dialog-content>
  <mat-card>
    <mat-card-content class="row">

        <mat-card-title>Modificar</mat-card-title>
        <form [formGroup]="dialogFormGroup">
        <mat-form-field class="col-lg-6" >
            <mat-label>Seleccione la fecha del movimiento</mat-label>
            <input formControlName="transactionDateDialog" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field  class="col-lg-6">
            <mat-label>Monto</mat-label>
            <input 
                matInput 
                placeholder="Ingrese el monto del movimiento "
                formControlName="amountDialog"
                >
            <mat-icon matSuffix>monetization_on</mat-icon>

        </mat-form-field>
        <mat-form-field  class="col-lg-6">
            <mat-label>Detalle</mat-label>
            <mat-select formControlName="detailsDialog">
                <mat-option  *ngFor="let item of types" [value]="item.id">{{item.description}}</mat-option>
            </mat-select>        
            <mat-icon matSuffix>description</mat-icon>

        </mat-form-field>
        <mat-form-field class="col-lg-6" >
            <mat-label>Tipo de actividad </mat-label>
            <input  formControlName="typeTransactionDialog" matInput [value]="data[0].type" [readOnly]="false">

            <mat-icon matSuffix>border_color</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="col-lg-6" >
            <mat-label>Observacion </mat-label>
            <input  formControlName="observationDialog" matInput [value]="data[0].details" [readOnly]="false">

            <mat-icon matSuffix>border_color</mat-icon>
        </mat-form-field>
      </form>  
    </mat-card-content>

  </mat-card>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</mat-dialog-actions>