<mat-dialog-content>
  <mat-card>
    <mat-card-content class="row">
        <mat-card-title>Modificar</mat-card-title>
        <mat-form-field class="col-lg-6">
            <mat-label>Seleccione la fecha del movimiento</mat-label>
            <input formControlName="transactionDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field  class="col-lg-6">
            <mat-label>Monto</mat-label>
            <input 
                matInput 
                placeholder="Ingrese el monto del movimiento "
                formControlName="amount"
                >
            <mat-icon matSuffix>monetization_on</mat-icon>
        </mat-form-field>
        <mat-form-field  class="col-lg-6">
            <mat-label>Detalle</mat-label>
            <mat-select 
                formControlName="details"
                >
                <mat-option >prueba1</mat-option>
            </mat-select>        
            <mat-icon matSuffix>description</mat-icon>

        </mat-form-field>
        <mat-form-field class="col-lg-6" >
            <mat-label>Tipo de actividad </mat-label>
            <input  formControlName="transactionType" matInput [readOnly]="false">

            <mat-icon matSuffix>border_color</mat-icon>
        </mat-form-field>
        <br>
        <mat-form-field class="col-lg-6" >
            <mat-label>Observacion </mat-label>
            <input  formControlName="observation" matInput [value]="data.description" [readOnly]="false">

            <mat-icon matSuffix>border_color</mat-icon>
        </mat-form-field>
    </mat-card-content>

  </mat-card>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</mat-dialog-actions>