<div class="row mt-5 p-3">
        <div class="col-12 text-center title-size">
            <h1 class="title-size">Bienvenido a ICEJAS</h1>
    </div>
 </div>  
 <div class="row mt-5 p-3">
    <div class="col-12 text-center ">
        <h1 class="sub-title-size">Iglesia Cristiana Evangelica de Julian Augusto Saldivar</h1>
</div>
</div>  

<div class="row mt-3 p-3">
    <div class="col-2 col-md-2 col-sm-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 text-center  ">
        <mat-card class="shadow p-3 rounded"> 
            <mat-card-content>
                <h1 class="sub-title-size">1 Timoteo 3:15</h1>
                <p class="verse-text-size p-3 text-justify text-wrap">Esto te escribo, aunque tengo la esperanza de ir pronto a verte, para que si tardo, sepas cómo debes conducirte en la <strong>casa de Dios</strong>, que es la iglesia del Dios viviente, <strong>columna y baluarte de la verdad</strong> </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-2 col-md-2 col-sm-1"></div>
</div>  

    
  