.table{
    width: 100%;
    
}

.th-font{
    font-size: 18px;
}
.td-font{
    font-size: 16px;
}
.observacion-container {
    max-width: 2px; /* Establece el ancho máximo que desees */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) para indicar que hay más texto */
  }

  /* Este bloque solo se aplicará cuando el ancho de la ventana sea 800px o menos */
@media (max-width: 800px) {
    .example-container {
        max-width: 100%;
        overflow: auto;
    }
    .th-font{
        font-size: 16px;
    }
    .td-font{
        font-size: 14px;
    }

    
}