<div class="container p-3">
  <div class="row mt-3">
    <mat-divider></mat-divider>
    <h1 class="mt-2">Lista de Movimientos</h1>
    <mat-divider></mat-divider>
  </div>
  
  <div class="">
    <!--Aca est la parte del filtrado!-->
    <form [formGroup]="transactionListForm" class="container ">
      <mat-form-field class="col-lg-3 col-md-12 col-sm-12 mx-1">
        <mat-label>Ingrese en rango de fecha</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" formControlName="transactionDateStart">
          <input matEndDate placeholder="End date" formControlName="transactionDateEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field  class="col-lg-2 col-md-12 col-sm-12 mx-1 ">
        <mat-label>Actividad</mat-label>
        <mat-select formControlName="transactionActivite">

          <mat-option  *ngFor="let item of types" [value]="item.id">{{item.description}}</mat-option>
        </mat-select>
        <mat-icon matSuffix>description</mat-icon>

      </mat-form-field>

      <mat-form-field  class="col-lg-2 col-md-12 col-sm-12 mx-1">
        <mat-label>Ingreso o Egreso</mat-label>
        <mat-select formControlName="transactionType">

          <mat-option [value]="this.credit">Ingreso</mat-option>
          <mat-option [value]="this.debit">Egreso</mat-option>
        </mat-select>
        <mat-icon matSuffix>credit_card</mat-icon>

      </mat-form-field>
        
      <button mat-button color="primary" class=" mx-1 col-lg-2 col-md-12 col-sm-12 text-center " mat-flat-button  (click)="filter()">
        <mat-icon>search</mat-icon>Filtrar</button>
          
      <button mat-button color="warn" class=" mx-1 col-lg-2 col-md-12 col-sm-12  text-center " mat-flat-button  (click)="clearTable()">
        <mat-icon>cleaning_services </mat-icon> Limpiar </button>
    </form>

    <div *ngIf="this.ELEMENT_DATA.length == 0;else data"><h2 class="text-center">No se encontraron datos en la tabla!!!</h2> </div>

    <ng-template #data>
      <div class="mat-elevation-z8 example-container mt-2" tabindex="0">
        <table mat-table [dataSource]="dataSource" class="font-col transaction-report">

          <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
  
          <!-- Position Column -->
          <ng-container matColumnDef="fecha" class="font-col">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font">  Fecha </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font td-date" > {{element.date}} </td>
          </ng-container>
          <ng-container matColumnDef="Nro">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font"> Nro movimiento </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font"> {{element.id}} </td>
          </ng-container>
  
          <ng-container matColumnDef="actividad">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font"> Actividad </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font"> {{element.type}} </td>
          </ng-container>
  
          <!-- Observation Column -->
          <ng-container matColumnDef="observacion">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font"> Observacion </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font observacion-container"> {{element.details}} </td>
          </ng-container>
  
          <!-- Credit Column -->
          <ng-container matColumnDef="ingreso">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font"> Ingreso </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font"> {{element.credit | currency:'Gs ':'symbol':'1.0-0' }} </td>
          </ng-container>
  
          <!-- Debit Column -->
          <ng-container matColumnDef="egreso">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font"> Egreso </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font"> {{element.debit | currency:'Gs ':'symbol':'1.0-0' }} </td>
          </ng-container>
  
          <ng-container *ngIf="this.isAdmin" matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="font-col th-font"> Acciones </th>
            <td mat-cell *matCellDef="let element" class="font-col td-font">  
              <button mat-mini-fab color="primary" (click)="openDialog(element.id)"  class=" "  matTooltip="Modifica el movimiento">
              <mat-icon>edit</mat-icon></button>
                
            <button mat-mini-fab color="warn" class=" "  (click)="openDialogDelete(element.id)"matTooltip="Elimina el movimiento">
              <mat-icon>delete_forever</mat-icon></button> 
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator 
                   [length]="this.ELEMENT_DATA.length"
                   [pageSizeOptions]="[10,20,30]"
                   aria-label="Select page of periodic elements"
                   showFirstLastButtons
                   (page)="changeView($event)"
                   class="w-100"
                   >
    </mat-paginator>
      </div>
      
    </ng-template>
    
  </div>



</div>