<div class="container  mt-5">
    <div class="row ">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 ">
            <mat-card>
                <mat-card-content>
                    <mat-card-header class="mb-3">
                        <mat-card-title>Agregar Movimiento</mat-card-title>
                        
                    </mat-card-header>

                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Monto</mat-label>
                        <input matInput placeholder="Ingrese el monto del movimiento ">
                        <mat-icon matSuffix>monetization_on</mat-icon>
                    </mat-form-field>
                      <br>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Detalle</mat-label>
                        <input matInput placeholder="Ingrese el detalle del movimiento">
                        <mat-icon matSuffix>description</mat-icon>
                        
                    </mat-form-field>
                      <br>
                    <mat-form-field class="w-100">
                        <mat-label>Tipo de actividad    </mat-label>
                        <mat-select>
                          <mat-option value="option">Gastos</mat-option>
                          <mat-option value="option">Diezmo</mat-option>
                          <mat-option value="option">Ofrenda</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>border_color</mat-icon>
                    </mat-form-field>
                      <br>
                      
                     
                     
                </mat-card-content>
                <button mat-button color="primary" mat-flat-button >Registrar</button>
            </mat-card>
        </div>
        <div class="col-lg-3"></div>
    </div>
    
</div>
      